{% extends 'blog/base.html' %}
{% block content %}
<h1 style="font-family: 'Odibee Sans', cursive;">PetsNetwork About!</h1>
    <p style="font-family: 'Odibee Sans', cursive;">Pagina conceputa de catre Pierre si Daniel pentru proiectul din cadrului Software Development Academy.</p>
    <br>

    <p style="font-family: 'Odibee Sans', cursive;">Indrumator:Tavi Popoviciu</p>
    <br>

   <h2 style="font-family: 'Odibee Sans', cursive;"> Despre?</h2>
    <br>

    <p style="font-family: 'Odibee Sans', cursive;">Si tu iubesti animalele?</p>
    <br>
<p style="font-family: 'Odibee Sans', cursive;">Acum avem revolutia retelelor de socializare care isi va continua dezvoltarea in anul 2021 in vederea lansarii proiectului pe multiplatform
Stay tuned for PetsNetwork!</p>
{% endblock content %}